<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="net.scinova.usbthing">
	<uses-feature android:name="android.hardware.usb.host" android:required="true" />
	<application
		android:name=".UsbThing"
		android:label="UsbThing"
		android:allowBackup="true"
		android:supportsRtl="true"
		android:theme="@android:style/Theme.Material.Light.NoActionBar">
		<activity
			android:name=".DevicesView"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>
</manifest>
